body{
  background-color: #282c34;
}
.container{
  position: relative;
  background:linear-gradient(90deg, rgb(188, 4, 4) 29%, #282c34 100%);
}
.App {
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding:.5em 1em;
    font-size: calc(7px + 2vmin);
    color: white;
}
.answer{
  margin-top: 1em;
}
.h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
.drawer{
  background: linear-gradient(180deg, rgb(42, 189, 145) 29%, rgb(15, 208, 238) 100%);
  color: rgb(1, 14, 113);
  padding-top: 4%;
  
}
.rolesDiv{
  margin-top: 2%;
}
.rolesBtndiv{
  display: flex;
  gap:.4em;
}
.accordion{
  font-size: 1em;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #29008a;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
/* footer */
.fontawe {
  font-size: 1.15em;
}
.footer {
  
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6em;
  font-size: 1.1em;
  color:white;
  background: linear-gradient(180deg, rgb(213, 45, 65) 0%, rgb(91, 2, 93) 100%);
}
.footer-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: blue;
}

/* responsive style  */
@media only screen and (max-width: 980px) {
  .rolesBtndiv {
      display: flex;
      flex-direction: column;
      gap: .4em;
    }
    .h1{
      font-size: 2em;
    }
}